{% set sumNote = 0 %}
{% set countNote = article.comments|length %}

{% for comment in article.comments %}
	{% set sumNote = sumNote + comment.note %}
{% endfor %}

{% if sumNote > 0 %}
	{% set avgNote = sumNote / countNote %}
{% endif %}

<div class="blog-card" id="article-{{article.id}}">
	<a href="{{ path('article.show', {'slug': article.slug}) }}">
		{% for image in article.articleImages|slice(0,1) %}
			<div class="blog-card-image">
				<img src="{{ vich_uploader_asset(image, 'imageFile')|imagine_filter('thumb_list') }}" alt="{{ article.titre }}">
			</div>
		{% else %}
			<div class="blog-card-image">
				<img src="https://placekitten.com/350/240" alt="">
			</div>
		{% endfor %}
	</a>
	<div class="blog-card-content">
		<p class="blog-card-date">
			<i class="far fa-calendar-alt"></i>
			{{ article.createdAt|format_datetime('full', 'none') }}
		</p>
		<h2 class="blog-card-content-header">
			<a href="{{ path('article.show', {'slug': article.slug}) }}">{{ article.titre }}</a>
		</h2>
		<p class="blog-card-content-description">{{ article.content|striptags|replace({'&nbsp;': ' '})|slice(0, 100) ~ '...'}}</p>
		{% if avgNote is defined %}
			<p class="blog-card-reviews text-muted">
				{% for number in range(1,5) %}
					{% if number <= avgNote %}
						<i class="fas fa-star rating-color"></i>
					{% else %}
						<i class="far fa-star rating-color"></i>
					{% endif %}
				{% endfor %}
				<em>
					({{ countNote }})
					{{ (countNote > 1 ? 'article.index.review.multiple' : 'article.index.review.single' )|trans(domain = 'content')}}
				</em>
			</p>
		{% endif %}
		{% for categorie in article.categories %}
			<em class="text-muted text-primary text-italic">#{{ categorie.titre }}</em>
		{% endfor %}

		{% if article.user is not null %}
			<div class="author mt-2">
				{% if article.user.imageName %}
					<div class="avatar">
						<img src="{{ vich_uploader_asset(article.user, 'imageFile')}}" alt="{{ article.user.prenom }}">
					</div>
				{% else %}
					<i class="far fa-user-circle"></i>
				{% endif %}
				<p class="text-muted mt-2 mb-0">
					{{ article.user ? article.user.prenom : '' }}
					{{ article.user ? article.user.nom : ''}}
				</p>
			</div>
			{% if admin %}
				<div class="row">
					<div class="col-md-12">
						<div class="form-check form-switch">
							<input type="checkbox" class="form-check-input" value="{{ article.id }}" role="switch" data-switch-active-article {{ article.active ? 'checked' }}>
							<label class="form-check-label">{{ 'main.btn.enable'|trans(domain = 'content') }}</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<a href="{{ path('admin.article.update', {'id': article.id, 'slug': article.slug} ) }}" class="btn btn-primary">{{ 'main.btn.edit'|trans(domain = 'content') }}</a>
					</div>
					<div class="col-md-6">
						<form method="POST" action="{{ path('admin.article.delete', {'id': article.id}) }}" onsubmit="return confirm('Êtes-vous sùr de vouloir supprimer cet article ?')">
							<input type="hidden" name="_method" value="DELETE">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
							<button class="btn btn-danger text-light">{{ 'main.btn.delete'|trans(domain = 'content') }}</button>
						</form>
					</div>
				</div>
				{% if article.comments|length > 0 %}
					<div class="row">
						<div class="col-md-4 mt-2">
							<a href="{{ path('admin.article.comments', {'id': article.id, 'slug': article.slug}) }}" class="btn btn-info text-light">{{ 'main.btn.comments'|trans(domain = 'content') }}</a>
						</div>
					</div>
				{% endif %}
			{% endif %}
		{% endif %}
	</div>
</div>
