{% extends 'base.html.twig' %}

{% block title %}
	{{ article.titre }}
	|
	{{ parent() }}
{% endblock %}

{% block body %}
	{% if article.articleImages|length > 1 %}
		{% include "Frontend/Article/_swiper.html.twig" %}
	{% elseif article.articleImages|length == 1 %}
		{% include "Frontend/Article/_banner.html.twig" %}
	{% else %}
		<div class="row text-center mt-4">
			<h1>{{ article.titre }}</h1>
		</div>
	{% endif %}
	<section class="container mt-4">
		<div class="article-main-content">
			<aside class="column-left">
				<div class="sidebar-content">
					<div class="info-article">
						<h2>{{ 'article.show.title.infos.label'|trans(domain = 'content')}}</h2>
						<p>
							<i class="far fa-calendar-alt"></i>
							<strong>{{ 'article.show.title.infos.date'|trans(domain = 'content')}}</strong>
							{{ article.createdAt|format_datetime('full', 'none') }}
						</p>
						<p>
							<i class="far fa-user-circle"></i>
							<strong>{{ 'article.show.title.infos.author'|trans(domain = 'content')}}</strong>
							{{ article.user.prenom }}
							{{ article.user.nom }}
						</p>
					</div>
					{% if article.categories|length > 0 %}
						<div class="categorie-article">
							<h2>{{ article.categories|length > 1 ? 'article.show.title.tags.multiple'|trans(domain = 'content') : 'article.show.title.tags.single'|trans(domain = 'content')}}</h2>
							<div class="list-tag">
								{% for categorie in article.categories %}
									{% if categorie.active %}
										<p class="tag">
											<i class="fas fa-tags"></i>
											{{ categorie.titre }}
										</p>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if comments|length > 0 %}
						<div class="show-comments mt-4">
							<h2>{{ comments|length > 1 ? 'article.show.title.comments.multiple'|trans(domain = 'content') : 'article.show.title.comments.single'|trans(domain = 'content') }}</h2>
							<div class="comments">
								{% for comment in comments|slice(0, 3) %}
									{% include "Frontend/Article/Commentaires/_comment.html.twig" %}
								{% endfor %}
							</div>
						</div>
					{% endif %}
				</div>
			</aside>
			<div class="column-right">
				<article class="article-content">
					{{ article.content|raw }}
				</article>

				<div class="comments card p-3 mt-4">
					<h2>{{ 'form.comments.title.add'|trans(domain = 'forms') }}</h2>
					{% if app.user %}
						{% include "Frontend/Article/Commentaires/_formComment.html.twig" with { button_label: 'Envoyer'} %}
					{% else %}
						<div class="alert alert-info mt-2" role="alert">
							<p>
								<b>Attention!</b>
								<br/>
								Vous devez
								<a href="{{ path('login') }}">être connecté</a>
								pour laisser un commentaire.
							</p>
						</div>
					{% endif %}
				</div>
				{% if comments|length > 0 %}
					<div class="show-comments mt-4">
						<h2>{{ comments|length > 1 ? 'comment.name.multiple'|trans(domain = 'content') : 'comment.name.single'|trans(domain = 'content')}}</h2>
						<div class="comments-list">
							{% for comment in comments %}
								{% include "Frontend/Article/Commentaires/_comment.html.twig" %}
							{% endfor %}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
