{% extends 'base.html.twig' %}

{% block title %}
	Se connecter |
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container-fluid mt-4">
		<form action="{{ path('login') }}" method="POST" class="p-3 card w-50 mx-auto">
			<h1 class="title text-center">{{ 'form.user.title.login'|trans(domain = 'forms') }}</h1>
			{% if error %}
				<div class="alert alert-danger" role="alert">
					{{ error.messageKey|trans(error.messageData, 'security') }}
				</div>
			{% endif %}
			<div class="mb-3">
				<label for="username" class="form-label">{{ 'form.user.fields.email.label'|trans(domain = 'forms') }}</label>
				<input type="text" id="username" class="form-control" name="_username" placeholder="{{ 'form.user.fields.email.placeholder'|trans(domain = 'forms') }}" value="{{ lastUsername }}"/>
			</div>

			<div class="mb-3">
				<label for="password" class="form-label">{{ 'form.user.fields.password.main'|trans(domain = 'forms') }}</label>
				<input type="password" id="password" class="form-control" placeholder="{{ 'form.user.fields.password.placeholder'|trans(domain = 'forms') }}" name="_password"/>
			</div>

			<div class="d-grid gap-2 d-md-block mt-4 text-center">
				<button type="submit" class="btn btn-primary">{{ 'main.btn.login'|trans(domain = 'content') }}</button>
			</div>
			<a href="{{ path('app_forgot_password_request')}}">{{ 'main.btn.forgotPassword'|trans(domain = 'content') }}</a>
		</form>
	</section>
{% endblock %}
