{% extends "base.html.twig" %}

{% block title %}
	S'inscrire |
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<div class="card p-3 w-50 mx-auto">
			<h1 class="title text-center">{{ 'form.user.title.register'|trans(domain = 'forms') }}</h1>
			{{ form_start(form) }}
			<div class="row">
				<div class="col-md-6">
					{{ form_row(form.prenom) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.nom) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{{ form_row(form.email) }}
				</div>

				<div class="col-md-6">
					{{ form_row(form.imageFile) }}

				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					{{ form_row(form.password) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-8">
					{{ form_row(form.address) }}
				</div>
				<div class="col-md-4">
					{{ form_row(form.zipCode) }}
				</div>
			</div>

			<div class="col-md-6">
				{{ form_row(form.ville) }}
			</div>

			<div class="text-center">
				<button type="sumbit" class="btn btn-primary">S'incrire</button>
			</div>
			{{ form_row(form._token) }}
			{{ form_end(form, {render_rest: false}) }}
		</div>

	</section>
{% endblock %}
