{{ form_start(form) }}

{{ form_widget(form.titre, {'attr': {'class': 'mb-4', 'placeholder': "Titre de l'article"} }) }}
{{ form_row(form.categories) }}
<div class="row mb-4">
	<div class="col-md-12">
		{{ form_label(form.articleImages) }}
		<ul id="image-fields-list" class="d-flex flex-wrap gap-2 justify-content-between" data-prototype="{{ form_widget(form.articleImages.vars.prototype)|e }}" data-widget-tags="{{ '<li class="w-30"></li>'|e }}" data-widget-counter="{{ form.articleImages|length }}">
			{% for imageField in form.articleImages %}
				<li class="list-image">
					<a class="js-remove-image btn btn-danger">
						<span class="fa fa-close"></span>
					</a>
					{{ form_errors(imageField) }}
					{{ form_widget(imageField) }}
				</li>
			{% endfor %}
		</ul>
		<button type="button" class="btn btn-primary add-another-collection-widget" data-list-selector="#image-fields-list">Ajouter une image</button>
	</div>
</div>
{{ form_widget(form.content, {'attr': {'class': 'mb-4', 'placeholder': "Contenu de l'article", 'rows': 10} }) }}
<div class="mt-4 text-center">
	<button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_widget(form._token) }}
{{ form_end(form, {render_rest: false}) }}
