{% extends "base.html.twig" %}

{% block title %}
	Admin des commentaires |
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
	<section class="container mt-4 show-comments">
		<h1 class="text-center">{{ 'comment.admin.index.heading1'|trans(domain = 'content') }}</h1>
		<div class="comments-list mt-4">
			{% for comment in comments %}
				{% include "Frontend/Article/Commentaires/_cardComment.html.twig" with {admin: true} %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
