{% extends "base.html.twig" %}

{% block title %}
	Admin Article |
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
	<section class="container mt-4 js-filter">
		<h1 class="title text-center">{{ 'article.admin.index.heading1'|trans(domain = 'content')}}</h1>
		<div>
			<a href="{{ path('admin.article.new') }}" class="btn btn-primary text-light">{{ 'article.btn.create'|trans(domain = 'content') }}</a>
		</div>
		<div class="row mt-4">
			<div class="col-md-3">
				{% include "Frontend/Article/_filter.html.twig" with {form: form} only %}
			</div>
			<div class="col-md-9">
				<div class="d-flex justify-content-between mb-2 navigation-blog-list">
					{% include "Frontend/Article/_count.html.twig" %}
					<div class="d-flex justify-content-end gap-2 js-filter-sorting">
						{% include "Frontend/Article/_sorting.html.twig" %}
					</div>
				</div>
				<div class="blog-list js-filter-content">
					{% include "Frontend/Article/_articles.html.twig" with {articles: articles, admin: true} only %}
				</div>
				{% include "Frontend/Article/_pagination.html.twig" %}
			</div>
		</div>
	</section>
{% endblock %}
