{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<h1 class="text-center">{{ 'user.admin.index.heading1'|trans(domain = 'content') }}</h1>
		<table class="table mt-4">
			<thead>
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th>Prenom</th>
					<th>Nom</th>
					<th>Address</th>
					<th>ZipCode</th>
					<th>Ville</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>{{ user.prenom }}</td>
						<td>{{ user.nom }}</td>
						<td>{{ user.address }}</td>
						<td>{{ user.zipCode }}</td>
						<td>{{ user.ville }}</td>
						<td>
							<div class="row">
								<div class="col-md-6">
									<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning">{{ 'main.btn.edit'|trans(domain = 'content') }}</a>
								</div>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">Pas d'utilisateur trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}
