{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<div class="card p-3 w-50 mx-auto">
			<h1>{{ 'form.user.title.create'|trans(domain = 'forms') }}</h1>

			{% include 'Backend/User/_form.html.twig' with {button_label: 'Create'} %}

			<div class="col-md-3">
				<a href="{{ path('app_user_index') }}" class="btn btn inline btn-secondary">back to list</a>
			</div>

		</div>
	</section>

{% endblock %}
