{% extends 'base.html.twig' %}

{% block title %}
	Mon compte |
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<h1 class="text-center">{{ 'user.show.heading1'|trans(domain = 'content')}}</h1>
		<div class="user-content card p-3 mt-4">
			<div class="row align-items-start">
				<div class="col-md-4">
					{% if user.imageName %}
						<div class="user-image">
							<img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.fullName }}">
						</div>
					{% endif %}
				</div>
				<div class="col-md-8">
					<div class="row">
						<h2>{{ 'user.show.info.title'|trans(domain = 'content')}}</h2>
						<div class="row">
							<div class="col-md-6 mt-2">
								<p class="mb-0">
									<strong>{{ 'user.show.info.name'|trans(domain = 'content')}}</strong>
									{{ user.fullName}}
								</p>
								<p>
									<strong>{{ 'user.show.info.email'|trans(domain = 'content')}}</strong>
									{{ user.email}}
								</p>
							</div>
							<div class="col-md-6">
								<p class="mb-0">
									<strong>{{ 'user.show.info.address'|trans(domain = 'content')}}</strong>
									{{ user.address}}
								</p>
								<p class="mb-0">
									<strong>{{ 'user.show.info.zip_code'|trans(domain = 'content')}}</strong>
									{{ user.zipCode}}
								</p>
								<p>
									<strong>{{ 'user.show.info.city'|trans(domain = 'content')}}</strong>
									{{ user.ville}}
								</p>
							</div>
						</div>
						<div class="text-center">
							<a href="{{ path('front_user_edit') }}" class="btn btn-primary">{{ 'user.btn.edit_account'|trans(domain = 'content') }}</a>
						</div>
					</div>
					{% if user.articles|length > 0 %}
						<div class="row">
							<div class="col-md-12">
								<h2>{{ 'user.show.articles.title'|trans(domain = 'content')}}</h2>
								<div class="list-user mt-2">
									{% for article in user.articles %}
										<div class="col-md-3">
											<a href="{{path('article.show', {id: article.id, slug: article.slug})}}">
												<div class="card">
													<div class="card-body">
														<p class="card-text">{{ article.titre }}</p>
													</div>
												</div>
											</a>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					{% endif %}
					{% if user.comments|length > 0 %}
						<div class="row mt-4">
							<h2>{{ 'user.show.comments.title'|trans(domain = 'content')}}</h2>
							<div class="list-user mt-2">
								{% for comment in user.comments %}
									<div class="col-md-3">
										<div class="card">
											<p class="card-header">{{ comment.titre }}</p>
											<div class="card-body">
												<p class="card-text">{{ comment.content }}</p>
												<div class="ratings">
													{% for number in range(1,5) %}
														{% if number <= comment.note %}
															<i class="fas fa-star rating-color"></i>
														{% else %}
															<i class="far fa-star rating-color"></i>
														{% endif %}
													{% endfor %}
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
