<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('home') }}">{{ brandName }}</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarScroll">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link {{ curentPage is defined and curentPage == 'home' ? 'active'}}" aria-current="page" href="{{ path('home') }}">{{ 'header.home'|trans(domain = 'content') }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ curentPage is defined and curentPage == 'articles' ? 'active'}}" aria-current="page" href="{{ path('article.index') }}">{{ 'header.posts'|trans(domain = 'content') }}</a>
					</li>
				</ul>
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
						<div class="navbar-btn me-2">
							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fa-solid fa-screwdriver-wrench"></i>
									Admin
								</button>
								<ul class="dropdown-menu">
									{% if is_granted('ROLE_ADMIN') %}
										<li>
											<a class="dropdown-item" href="{{ path('app_user_index') }}">
												<i class="fas fa-users"></i>
												<span>{{ 'header.admin.users'|trans(domain = 'content') }}</span>
											</a>
										</li>
									{% endif %}
									<li>
										<a href="{{ path('admin') }}" class="dropdown-item">
											<i class="fas fa-newspaper"></i>
											{{ 'header.admin.posts'|trans(domain = 'content') }}
										</a>
									</li>
									<li>
										<a href="{{ path('app_categorie_index') }}" class="dropdown-item">
											<i class="fas fa-tags"></i>
											{{ 'header.admin.tags'|trans(domain = 'content') }}
										</a>
									</li>
								</ul>
							</div>
						</div>
					{% endif %}
					<div class="navbar-btn me-2">
						<a href="{{ path('compte') }}" class="btn btn-light">
							<i class="fas fa-user"></i>
							<span>{{ 'header.profile'|trans(domain = 'content') }}</span>
						</a>
					</div>
					<div class="navbar-btn">
						<a href="{{ path('logout') }}" class="btn btn-danger">
							<i class="fa-solid fa-right-from-bracket"></i>
							<span>{{ 'header.logout'|trans(domain = 'content') }}</span>
						</a>
					</div>
				{% else %}
					<div class="navbar-btn me-2">
						<a href="{{path('register')}}" class="btn btn-light">{{ 'header.sign_up'|trans(domain = 'content') }}</a>
					</div>

					<div class="navbar-btn">
						<a href="{{path('login')}}" class="btn btn-secondary">{{ 'header.login'|trans(domain = 'content') }}</a>
					</div>
				{% endif %}
				<div class="switch-locale navbar-btn ms-2">
					<div class="dropdown dropstart">
						<button class="dropdown-toggle locale-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="flag-icon-main" style="background-image: url(https://flagcdn.com/{{ app.request.locale == 'en' ? 'gb' : app.request.locale}}.svg)"></span>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item locale-item" href="{{ path('locale.switch', {_locale: 'en'}) }}" data-js-locale="en">
									<div class="flag-icon">
										<img src="https://flagcdn.com/gb.svg" loading="lazy" width="20" alt="Flag {{ 'locale.name.en'|trans(domain = 'locale') }}">
									</div>
									{{ 'locale.name.en'|trans(domain = 'locale') }}
								</a>
							</li>
							<li>
								<a class="dropdown-item locale-item" href="{{ path('locale.switch', {_locale: 'fr'}) }}" data-js-locale="fr">
									<div class="flag-icon">
										<img src="https://flagcdn.com/fr.svg" loading="lazy" width="20" alt="Flag {{ 'locale.name.fr'|trans(domain = 'locale') }}">
									</div>
									{{ 'locale.name.fr'|trans(domain = 'locale') }}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>
