<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ path('home') }}">My app Symfony
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarScroll">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="{{ path('home') }}">Accueil</a>
					</li>
				</ul>
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}
						<div class="navbar-btn me-2">
							<a class="btn btn-inline btn-light" href="{{ path('app_user_index') }}">
								<i class="fas fa-users"></i>
								<span>Gérer les utilisateurs</span>
							</a>
						</div>
						<div class="navbar-bt me-2">
							<a href="{{ path('admin') }}" class="btn btn-inline btn-light">
								<i class="fa-solid fa-screwdriver-wrench"></i>
								Admin
							</a>
						</div>
					{% endif %}

					<div class="navbar-btn">
						<a href="{{ path('logout') }}" class="btn btn-danger">
							<i class="fa-solid fa-right-from-bracket"></i>
							<span>Se déconnecter</span>
						</a>
					</div>

				{% else %}

					<div class="ml-auto">
						<a href="{{path('login')}}" class="btn btn-secondary">Se connecter</a>
					</div>
				{% endif %}
			</div>
		</div>
	</nav>
</header>
